<% if(avname.toLowerCase() === "ironman"){ %>
<h1>Avenger Name: <%= avname.toUpperCase() %></h1>

<img src="https://www.sideshow.com/storage/product-images/903421/iron-man_marvel_gallery_5c4cced10da7f.jpg" alt="">

<% } %>

<% if(avname.toLowerCase() === "captain america"){ %>
    <h1>Avenger Name: <%= avname.toUpperCase() %></h1>
    
    <img src="https://b.kisscc0.com/20180730/aw/kisscc0-captain-america-and-the-avengers-iron-man-captain-marvel-captain-america-5b5f4af8903b58.2922092815329717685908.jpg" alt="">
    
<% } %>

<% if(avname.toLowerCase() === "hulk"){ %>
    <h1>Avenger Name: <%= avname.toUpperCase() %></h1>
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3QC_TO2iU9dmeR4NHNde6syN0KfHnq1U74HlcGOjggN7bi6SmqA" alt="">
    
<% } %>

<% if(avname.toLowerCase() === "thor"){ %>
    <h1>Avenger Name: <%= avname.toUpperCase() %></h1>
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS15CVsQSnHYFWIsP4ofqIj5H-2SteXZu8JFU7Jv5493Drw6aHM" alt="">
    
<% } %>

<% if(avname.toLowerCase() === "black widow"){ %>
    <h1>Avenger Name: <%= avname.toUpperCase() %></h1>
    
    <img src="https://fanfest.com/wp-content/uploads/2018/07/black-widow-620x450.jpg" alt="">
    
<% } %>

<% if(avname.toLowerCase() === "hawkeye"){ %>
    <h1>Avenger Name: <%= avname.toUpperCase() %></h1>
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvYjGcYo_2d79m2-9YU-CMONq3YVa2wOLxq9noYajYm_qYbBDh" alt="">
    
<% } %>
